* {
    padding: 0px;
    margin: 0px;
}
@font-face {
    font-family: "militia";
    src: url("./militia_pro.otf");
}
body {
    background: url("../img/fone.jpg") no-repeat center center fixed;
    background-size: cover;
}
h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
    font-family: "militia";
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #00ff1a, 0 0 80px #00ff1a, 0 0 90px #00ff1a, 0 0 100px #00ff1a, 0 0 150px #00ff1a;
}
@media screen and (max-width:482px) {
    h1 {
        font-size: 35px;
    }
}
.buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}
.btn {
    border: none;
    font-family: "militia";
    width: 80%;
    height: 50px;
    background: rgb(65, 215, 65);
    color: white;
    margin-top: 20px;
    font-size: 35px;
    border-radius: 8px;
}
.btn:hover {
    cursor: pointer;
    background: green;
    color: white;
}